@page "/"
<PageTitle>Список задач</PageTitle>
<body>
<h1>Список дел</h1>

<div>
	<div class="task">
		<input type="checkbox" />
		<span>Тестовая задача</span>
		<button></button>
	</div>
	<div class="inputText">
		<input type="text" />
		<button>Добавить</button>
	</div>
</div>
</body>